body {
  background-color: #FBFBFB;
}

.nav .container {
  margin-top: 50px;
  height: 50px;
}

.nav a {
  color: #5a5a5a;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

.jumbotron h1 {
  color: #fff;
  font-size: 48px;
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
}

.content {
  margin: 0 auto;
  height: 500px;
}

.content .creatWord {
  font-size: 18px;
  float: left;
}

.content .container {
  text-align: center;
}

.content img {
  float: left;
  margin-left: 3px;
  margin-top: -5px;
}

th {
  width: auto;
  height: auto;
  border-bottom: 1px solid #1caac4;
  background-color: #1caac4;
  color: #ffffff;
  text-align: center;
}

.find, .edit, .delete {
  background-color: transparent;
  color: #1fbcd8;
  border: 1px solid #1caac4;
}

.find:hover {
  background-color: #1fbcd8;
  color: white;
}

.edit:hover {
  background-color: #1fbcd8;
  color: white;
}

.delete:hover {
  background-color: #1fbcd8;
  color: white;
}